.deps/
.libs/
*.a
*.dat
*.dll
*.exe
*.la
*.lai
*.lo
*.log
*.m4
*.o
*.so
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
benchmark/*.trs
benchmark/benchmark_filter_less
benchmark/benchmark_filter_and
benchmark/benchmark_filter_or
benchmark/benchmark_filter_reference
benchmark/benchmark_sorter
compile
config.*
configure
data/
depcomp
install-sh
lib/grnxx/version.h
libtool
ltmain.sh
missing
oprofile_data/
src/grnxx
stamp-h1
test/*.trs
test/test_data_types
test/test_string
test/test_array
test/test_db
test/test_table
test/test_column
test/test_index
test/test_expression
test/test_merger
test/test_sorter
test/test_pipeline
test/test_issue_62
test-driver
