.deps/
.libs/
*.a
*.dat
*.dll
*.exe
*.la
*.lai
*.lo
*.log
*.m4
*.o
*.so
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
data/
depcomp
install-sh
lib/grnxx/version.h
libtool
ltmain.sh
missing
oprofile_data/
src/grnxx
stamp-h1
test/*.trs
test/test_db
test/test_table
test/test_column
test/test_expression
test/test_sorter
test/benchmark_grnxx
test-driver
